.feed {
  padding-bottom: 48px;
  &__item {
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
  }
  &__img {
    height: 169px;
    width: 169px;
  }
  &__text {
    margin-left: 60px;
    padding-right: 75px;
  }
  &__subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #0d0d0d;
  }
  &__score {
    font-weight: 500;
    font-size: 14px;
    color: #646464;
  }
  &__descr {
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #0d0d0d;
  }
}
